.vscode/settings.json
/edk2/Conf/*
!/edk2/Conf/build_rule.txt
!/edk2/Conf/BuildEnv.sh
!/edk2/Conf/target.txt
!/edk2/Conf/tools_def.txt
/kernel/kernel.elf
/kernel/*.o
/kernel/*.d
/kernel/*.bin
disk.img